<ion-content>
  <div class="background">
    <div class="container ion-text-center">
      <div class="row">
        <ion-button fill="clear" class="needHelp">
          <img src="/assets/img/needHelp.png" alt="Ajude-nos">
          <span>Ajude-nos</span></ion-button>
      </div>
      <div class="row">
        <ion-button fill="clear" class="canHelp" routerLink="/signup-one">
          <img src="/assets/img/canHelp.png" alt="Posso ajudar">
          <span>Posso ajudar</span></ion-button>
      </div>
    </div>
  </div>
</ion-content>