<ion-content>
  <div class="background">
    <div class="container ion-text-center">
      <div class="femaleLogin">
        <img src="../../../assets/img/mulherLogin.png" alt="Mulher Login">
      </div>
    </div>
    <div class="container ion-text-center loginBox">
      <div class="row">
        <ion-button fill="clear" routerLink="/login-input" class="signin"><span>Login</span></ion-button>
      </div>
      <div class="row">
        <ion-button fill="clear" routerLink="/personas" class="signup"><span>Cadastrar-se</span></ion-button>
      </div>
    </div>
  </div>
</ion-content>